<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <% if user_signed_in? %>
    <div class="inline" style="display:inline-block">
        <p class="nav-item" style="display:inline-block; margin-top:8px; padding-right:20px">
          <%= image_tag("ruby_gem_icon.png", size: "30x18", alt: "Ruby Gem", style: 'display:inline') %>
          <%= current_user.gems.to_s %>
        </p>
        <p class="nav-item" style="display:inline-block; margin-top:8px; padding-right:20px">
          <%= image_tag("point.png", size: "24x24", alt: "Point", style: 'display:inline') %>
          <%= current_user.points.to_s %>
        </p>
    </div>
    <% else %>
      <h2 class="navbar-brand" href="#">CupThrow Game</h2>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Delete my account', user_registration_path, confirm: 'Are you sure you want to delete your account?', method: :delete, class: 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>