
<% welcome_msg = current_user.present? ? 'Hi, ' + current_user.name : 'Welcome to CupThrow Game' %>

    <% if user_signed_in? %>

    <div class="container-fluid" style="margin-left:100px;">
    <h1><%= welcome_msg %></h1>

        <%= form_tag('init_player', method: 'post') do %>
    
        <br/>

        <p>
            <%= 'Your ' %>
            <%= image_tag("bag.png", size: "40x40", alt: "Bag", style: 'display:inline') %>
            <%= ' contains ' %>
            <%= @about_me %>

        </p>

        <table class="table table-striped" style="max-width: 700px;">
            <thead>
            <tr>
                <th>Item</th>
                <th>Count</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= 'Coin' %></td>
                    <td><%= current_user.default_coin_count %></td>
                    <td><%= current_user.default_coin_den %></td>
                </tr>
                <tr>
                    <td><%= 'Die' %></td>
                    <td><%= current_user.default_dice_count %></td>
                    <td><%= current_user.default_dice_colour + ', ' + current_user.default_dice_sides + ' sided' %></td>
                </tr>
            </tbody>
        </table>

        <br/>
        <br/>

        <%= link_to "Play a Game", home_game_path, type: "button", action: "", class: "btn btn-dark" %>

        <%= link_to "Purchase Items", home_items_path, type: "button", action: "", class: "btn btn-dark" %>

        </div>
        <% end %>

    <% else %>
        <%= image_tag("n.png", style: 'width:100%;height:auto;', alt: "Edit Entry") %>
    <% end %>
    
